Exercise 2
|--------|
    
# Data Science Tools and Ecosystem

Exercise 3
|------|

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10
|-----|

**Objectives**    
Some of the key takeaways from this course are
- How to write headings
- Tabulating data
- Listing popular languages for Data Science
- Listing some of the libraries used in Data Science
- Demonstraring how simple arithmetic works in Jupyter Notebooks

Exercise 4
|---------|
    
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
3. Scala
4. SQL
5. Java
6. C/C++
7. JavaScript

Exercise 5
|------|

Some of the commonly used libraries used by Data Scientists include:
- NumPy, Pandas, SciPy
- Scikit, PyTorch, TensorFlow
- Matplotlib, Seaborn, Plotly
- ggplot, Lattice, Leaflet

Exercise 6
|------|

|Data Science Tools|
|---------------|
|Jupyter Notebook/Lab|
|PyCharm|
|RStudio|

Exercise 7
|-----|

### Below are a few examples of evaluating arithmetic expressions in Python

x = 2   

y = 3

z = x + y*3 

print(z)

Exercise 8
|------|

In [55]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

Exercise 9
|-------|

In [51]:
#This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes//60
print(f"The number of hours is {hours}.")

The number of hours is 3.

Exercise 11
|--------|

## Author 
Brandon K